<!DOCTYPE html>
<html>
    <head>
        <title><%=appData.appName%></title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <%- include ('partials/navbar.ejs') %>
        <%- include('partials/flash.ejs') %>

        <h1>Welcome to <%=appData.appName%></h1>

    </body>
</html>