<!DOCTYPE html>
<html>
    <head>
        <title>Login To <%=appData.appName%></title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <%- include ('partials/navbar.ejs') %>
        <%- include('partials/flash.ejs') %>

        <div class="login-container">
            <h1>Log in</h1>
            <form action="loggedin" method="post" class="login-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Log in</button>
            </form>
        </div>
    </body>
</html>