<!DOCTYPE html>
<html>
    <head>
        <title>Login To <%=appData.appName%></title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-container">
                <a href="/" class="nav-logo"><%=appData.appName%></a>
                <div class="navbar-links">
                    <a href="/about">About</a>
                </div>

                <div class="navbar-auth">
                    <a href="login" class="nav-login" id="selected">Login</a>
                    <a href="register" class="nav-register">Register</a>
                </div>
            </div>
        </nav>
        <div class="login-container">
            <h1>Log in</h1>
            <form action="loggedin" method="post" class="login-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Log in</button>
            </form>
        </div>
    </body>
</html>