<!DOCTYPE html>
<html>
    <head>
        <title>Register For <%=appData.appName%></title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <%- include ('partials/navbar.ejs') %>
        <%- include('partials/flash.ejs') %>

        <div class="register-container">
            <h1>Register</h1>
            <form action="registered" method="post" class="register-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="first">First Name:</label>
                <input type="text" name="first" id="first">

                <label for="last">Last Name:</label>
                <input type="text" name="last" id="last">

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Register</button>
            </form>
        </div>
    </body>
</html>